body {
  background: url("pexels-photo-5581836.jpeg");
  background-size: cover;
  height: 100vh;
  margin: 0;
}

.navigation_header {
  /* background-color: crimson; */
  overflow: hidden;
  background-color: azure;
  top: 0;
  position: fixed;
  width: 100%;
}
.navigation_header a{
    float: left;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navigation_header a:hover{
    background-color: black;
    color: white;
}
.bits-head{
    font-size: 50px;
    color: blue;
margin-left: 50px;
}
img {
    float: left;
}

.services-headers{
    display: inline-block;
    border: 1px solid;
}


.header-content {
  margin-top: 100px;
  background-color: rgb(21, 6, 240);
  text-align: center;
  font-size: larger;
}
