body {
  background: url("pexels-photo-5581836.jpeg");
  background-size: cover;
  height: 100vh;
  margin: 0px 0px 500px 0px;
}

.navigation_header {
  /* background-color: crimson; */
  overflow: hidden;
  background-color: azure;
  top: 0;
  position: fixed;
  width: 100%;
}
.navigation_header a{
    float: left;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navigation_header a:hover{
    background-color: black;
    color: white;
}
.bits-head{
    font-size: 50px;
    color: blue;
margin-left: 50px;
}
img {
    float: left;
}

.main-header{
    border: 2px solid;
    background-color: #3C84AB;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.services-headers{
    display: block;
    border: 1px solid;
    margin-left: 50px;
    font-style: italic;
}

.services-desc{
    display: block;
    /* border: 1px solid; */
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}


.header-content {
  margin-top: 100px;
  background-color: #362FD9;
  text-align: center;
  font-size: larger;
}

footer{
    text-align: center;
}
