
body{
    background-image: url('pexels-photo-5581836.jpeg');
    margin-left: 50px;
}

.navigation_header{
    background-color: crimson;
    overflow: hidden;
    display: block;
   margin-top: 0;
   padding-left: 20px;
    position:fixed;

  
}

.navigation-bar{
    display: inline-block;
    background-color: azure;
    list-style-type: none;
    padding:10px;
    margin-right: 20px;
    
}

.navigation-bar a:hover{
    background-color: blue;
    color: darkturquoise;
}

.main-content{
    margin-top: 0;
    background-color: aqua;
    text-align: center;
    font-size: larger;
}
